*{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding: 0;
    margin: 0;
    color:hsl(234, 29%, 20%);
}
body{
    background: hsl(235, 18%, 26%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
main {
    padding: 40px;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: start;
    background: hsl(0, 0%, 100%);
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

main h1{
    font-size: 50px;
    margin:20px 0;
}
main img{
    height:60px;
}
main p{
    margin-bottom:30px;
    line-height: 1.5;
}
main button{
    height:50px;
    width: 100%;
    background:hsl(234, 29%, 20%);
    color: hsl(0, 0%, 87%);
    border:1px solid hsl(0, 0%,58%);
    border-radius:10px;
    font-weight: bold;
    cursor:pointer;
}
main button:hover{
    background: linear-gradient(to right, hsl(4, 100%, 67%), hsl(20, 100%, 60%));
    box-shadow: 0 10px 20px rgba(255, 98, 87, 0.4);
    transition: all 0.2s;
    color: white;
    border:1px solid #FF7733FF;

}
